In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
totalPlayers = len(purchase_data["SN"].unique())
totalPlayers
print("there are " + str(totalPlayers) + " total players in this dataset")

there are 576 total players in this dataset

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#Number of Unique Items
uniqueItems = len(purchase_data["Item Name"].unique())
print(uniqueItems)

#Average Purchase Price
averagePurchasePrice = purchase_data["Price"].sum() / purchase_data["Price"].count()
print(round(averagePurchasePrice,2))

#Total Number of Purchases
totalPurchases = purchase_data["Price"].count()
print(totalPurchases)

#Total Revenue
totalRevenue = purchase_data["Price"].sum()
print(totalRevenue)

#Create a dataframe to hold these values
summary = {"Unique Items":[uniqueItems],"Average Purchase Price":[round(averagePurchasePrice,2)],"Total Purchases":[totalPurchases],"Total Revenue":[totalRevenue]}
summary_df = pd.DataFrame(data=summary)
summary_df

179
3.05
780
2379.77

   Unique Items  Average Purchase Price  Total Purchases  Total Revenue
0           179                    3.05              780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#remove duplicate players
player_df = purchase_data[["SN","Gender","Age"]]
player_df = player_df.drop_duplicates("SN")
totalPlayers = player_df["Gender"].count()
print("There are " + str(totalPlayers) + " total players")

#Percentage and Count of Male Players
malePlayerCount = player_df.loc[player_df["Gender"] =="Male"].count()
malePlayerCount = malePlayerCount[0]
malePlayerPercent = round((malePlayerCount / player_df["Gender"].count())*100,2)

print(str(malePlayerCount) + ", or " + str(malePlayerPercent) + "% of players are male")

#Percentage and Count of Female Players
#femalePlayerCount
femalePlayerCount = player_df.loc[player_df["Gender"] == "Female"].count()
femalePlayerCount = femalePlayerCount[0]

#femalePlayerPercent
femalePlayerPercent = round((femalePlayerCount / totalPlayers)*100,2)
print(str(femalePlayerCount) + ", or " + str(femalePlayerPercent) + "% of players are female")

#Percentage and Count of Other / Non-Disclosed
LAT = totalPlayers - (femalePlayerCount + malePlayerCount)
LATPercent = LAT/totalPlayers
print(str(LAT) + ", or " + str(LAT) + "% of players are 'other / non-disclosed'")

#Create a dataframe
gs = {"Gender":["Male","Female","Other / Non-Disclosed"],"Total Count":[malePlayerCount,femalePlayerCount, LAT],"Percentage of Players":[malePlayerPercent,femalePlayerPercent,LATPercent]}
gender_df = pd.DataFrame.from_dict(gs)
gender_df

There are 576 total players
484, or 84.03% of players are male
81, or 14.06% of players are female
11, or 11% of players are 'other / non-disclosed'

                  Gender  Total Count  Percentage of Players
0                   Male          484              84.030000
1                 Female           81              14.060000
2  Other / Non-Disclosed           11               0.019097


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#---MALES----
#Purchase Count
malePurchases = purchase_data.loc[purchase_data["Gender"] == "Male"].count()
malePurchases = malePurchases[0]

#Total Purchase Value
allMalePurchases = purchase_data.loc[purchase_data["Gender"] == "Male"]
totalPurchaseValueMales = allMalePurchases["Price"].sum()

#Average Purchase Price
averagePurchasePriceMales = allMalePurchases["Price"].sum() / malePurchases

print(round(malePurchases,2),round(totalPurchaseValueMales,2),round(averagePurchasePriceMales,2) )

#---FEMALES----
#Purchase Count
femalePurchases = purchase_data.loc[purchase_data["Gender"] == "Female"].count()
femalePurchases = femalePurchases[0]

#Total Purchase Value
allFemalePurchases = purchase_data.loc[purchase_data["Gender"] == "Female"]
totalPurchaseValueFemales = allFemalePurchases["Price"].sum()

#Average Purchase Price
averagePurchasePriceFemales = allFemalePurchases["Price"].sum() / femalePurchases

print(round(femalePurchases,2),round(totalPurchaseValueFemales,2),round(averagePurchasePriceFemales,2) )

#---OTHER----
#Purchase Count
LATPurchases = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed"].count()
LATPurchases = LATPurchases[0]

#Total Purchase Value
allLATPurchases = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed"]
totalPurchaseValueLAT = allLATPurchases["Price"].sum()

#Average Purchase Price
averagePurchasePriceLAT = allLATPurchases["Price"].sum() / LATPurchases

print(round(LATPurchases,2),round(totalPurchaseValueLAT,2),round(averagePurchasePriceLAT,2) )


#Average Purchase Total per Person by Gender
avgPerPlayerMales = totalPurchaseValueMales / malePlayerCount
print(str(round(avgPerPlayerMales,2)))

avgPerPlayerFemales = totalPurchaseValueFemales / femalePlayerCount
print(str(round(avgPerPlayerFemales,2)))

avgPerPlayerLAT = totalPurchaseValueLAT / LAT 
print(str(round(avgPerPlayerLAT,2)))

#Create a dataframe
purchasedf = {"Gender":["Male","Female","Other / Non-Disclosed"],"Purchase Count":[malePurchases,femalePurchases,LATPurchases],"Average Purchase Price":[round(averagePurchasePriceMales,2),round(averagePurchasePriceFemales,2),round(averagePurchasePriceLAT,2)],"Total Purchase Value":[totalPurchaseValueMales,totalPurchaseValueFemales,totalPurchaseValueLAT],"Avg Total Purchase Per Person":[round(avgPerPlayerMales,2),round(avgPerPlayerFemales,2),round(avgPerPlayerLAT,2)]}
purchase_df = pd.DataFrame.from_dict(purchasedf)
purchase_df.head()

652 1967.64 3.02
113 361.94 3.2
15 50.19 3.35
4.07
4.47
4.56

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
0,Male,652,3.02,1967.64,4.07
1,Female,113,3.20,361.94,4.47
2,Other / Non-Disclosed,15,3.35,50.19,4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
bins = [0,10,15,20,25,30,35,40,200]
group_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39",">40"]

#new df called demo df 
demo_df = purchase_data[["SN","Age","Gender","Item ID","Item Name","Price"]]
demo_df["Age Range"] = pd.cut(demo_df["Age"],bins,labels=group_names)

#Total Purchase Value by age group
sum_df = demo_df.groupby("Age Range")['Price'].sum()
sum_df.to_frame()


# #Purchase Count by age group
count_df = demo_df.groupby("Age Range")['Price'].count()
count_df.to_frame()

# # #Average Purchase Price

# # #Average Purchase Total per Person by Age Group
peruser_df = demo_df.groupby("Age Range")["SN"].count()
peruser_df.to_frame()

# # #merging the DFs
merged_df = count_df.to_frame().merge(sum_df.to_frame(),on = "Age Range",how = "outer")
# merged_df

renamed_demo_df = merged_df.rename(columns={"Price_x":"Purchase Count","Price_y":"Total Purchase Value"})
renamed_demo_df
merge2 = renamed_demo_df.merge(peruser_df.to_frame(),on= "Age Range",how="outer")
merge2 = merge2.rename(columns={"SN":"Unique Users"})

#create calculated values
calculatingaverage = merge2["Total Purchase Value"]/merge2["Unique Users"]
merge2["Average Purchase Price"] = round(calculatingaverage,2)

merge3 = merge2.rename(columns={"Average Purchase Price":"Average Total Purchase Per Person"})
merge3
calculatingaveragepurchase = merge3["Total Purchase Value"]/merge3["Purchase Count"]
merge3["Average Purchase Price"] = round(calculatingaveragepurchase,2)
merge3

#removing columns, cleaning up df
cleaned_agerange_df = merge3[["Purchase Count","Average Purchase Price","Total Purchase Value","Average Total Purchase Per Person"]]
cleaned_agerange_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase Per Person
Age Range,,,,
<10,32,3.40,108.96,3.40
10-14,54,2.90,156.60,2.90
15-19,200,3.11,621.56,3.11
20-24,325,3.02,981.64,3.02
25-29,77,2.88,221.42,2.88
30-34,52,2.99,155.71,2.99
35-39,33,3.40,112.35,3.40
>40,7,3.08,21.53,3.08

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
#sort top spenders by total purchase sum
topSpenders = purchase_data.groupby(["SN"]).sum().sort_values("Price", ascending=False)
topSpenders = topSpenders[["Price"]]
topSpenders_df = topSpenders[0:5]
#DF with contains SN & total spent
topSpenders_df

# assign those users to a list
topSpenderList = [topSpenders.index[0],topSpenders.index[1],topSpenders.index[2],topSpenders.index[3],topSpenders.index[4]]
topSpenderList[0]

# Count purchases dataframe - need to find top spenders in this list
countPurchases = purchase_data.groupby(["SN"]).count()

firstPlayer = countPurchases.loc[countPurchases.index==topSpenderList[0]]
firstPlayer

secondPlayer = countPurchases.loc[countPurchases.index==topSpenderList[1]]
secondPlayer

thirdPlayer = countPurchases.loc[countPurchases.index==topSpenderList[2]]

forthPlayer = countPurchases.loc[countPurchases.index==topSpenderList[3]]

fifthPlayer = countPurchases.loc[countPurchases.index==topSpenderList[4]]
#final list with top spending players' purchase amounts
topSpenderPurchaseCount = [firstPlayer.iloc[0,0],secondPlayer.iloc[0,0],thirdPlayer.iloc[0,0],forthPlayer.iloc[0,0],fifthPlayer.iloc[0,0]]
topSpenderPurchaseCount

dictionaryOfTopSpenders = {'SN':topSpenderList,"Purchase Count":topSpenderPurchaseCount}
topSpendersFinal_df = pd.DataFrame(data=dictionaryOfTopSpenders)
topSpendersFinal_df
# topSpenders_df

final_final_df = topSpendersFinal_df.merge(topSpenders_df,on="SN",how="outer")
final_final_df
averagePurchasePrice = final_final_df["Price"] / final_final_df["Purchase Count"]
final_final_df["Average Purchase Price"] = round(averagePurchasePrice,2)
final_final_df.rename(columns={"Price":"Total Purchase Value"})

            SN  Purchase Count  Total Purchase Value  Average Purchase Price
0    Lisosia93               5                 18.96                    3.79
1  Idastidru52               4                 15.45                    3.86
2   Chamjask73               3                 13.83                    4.61
3       Iral74               4                 13.62                    3.40
4  Iskadarya95               3                 13.10                    4.37

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
mostPopular = purchase_data.groupby(["Item Name"]).count().sort_values("Price",ascending=False)
#5 most popular items
mostPopular[0:5]
mostPopularList = [mostPopular.index[0],mostPopular.index[1],mostPopular.index[2],mostPopular.index[3],mostPopular.index[4]]
#list of purchase counts
purchaseCountList = [mostPopular.iloc[0,0],mostPopular.iloc[1,0],mostPopular.iloc[2,0],mostPopular.iloc[3,0],mostPopular.iloc[4,0]]

# Getting item IDs & Price
itemList=[]
itemList.append(purchase_data.loc[purchase_data["Item Name"]==mostPopularList[0]].iloc[0,4])
itemList.append(purchase_data.loc[purchase_data["Item Name"]==mostPopularList[1]].iloc[0,4])
itemList.append(purchase_data.loc[purchase_data["Item Name"]==mostPopularList[2]].iloc[0,4])
itemList.append(purchase_data.loc[purchase_data["Item Name"]==mostPopularList[3]].iloc[0,4])
itemList.append(purchase_data.loc[purchase_data["Item Name"]==mostPopularList[4]].iloc[0,4])
itemList

itemPrice = []
itemPrice.append(purchase_data.loc[purchase_data["Item Name"]==mostPopularList[0]].iloc[0,6])
itemPrice.append(purchase_data.loc[purchase_data["Item Name"]==mostPopularList[1]].iloc[0,6])
itemPrice.append(purchase_data.loc[purchase_data["Item Name"]==mostPopularList[2]].iloc[0,6])
itemPrice.append(purchase_data.loc[purchase_data["Item Name"]==mostPopularList[3]].iloc[0,6])
itemPrice.append(purchase_data.loc[purchase_data["Item Name"]==mostPopularList[4]].iloc[0,6])

itemPrice #list with item prices


d={"Item ID":itemList,"Item Name":mostPopularList,"Purchase Count":purchaseCountList,"Item Price":itemPrice}
mostPopularItem_df=pd.DataFrame(data=d)

totalPurchaseValue = mostPopularItem_df["Purchase Count"]*mostPopularItem_df["Item Price"]
mostPopularItem_df["Total Purchase Value"] = totalPurchaseValue
mostPopularItem_df

mostPopularItem_df.sort_values("Purchase Count",ascending=False)

#get item names, price & ID
# group by item name, take sum price / actual price = number of purchases

,Item ID,Item Name,Purchase Count,Item Price,Total Purchase Value
0,92,Final Critic,13,4.88,63.44
1,178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
2,141,Persuasion,9,3.19,28.71
3,82,Nirvana,9,4.90,44.10
4,108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [13]:
sortedByPrice_df = purchase_data.groupby(["Item Name"]).sum().sort_values("Price",ascending=False)

#list of most profitable item names
mostProfitableList = [sortedByPrice_df.index[0],sortedByPrice_df.index[1],sortedByPrice_df.index[2],sortedByPrice_df.index[3],sortedByPrice_df.index[4]]


#get prices
itemPrice=[]
itemPrice.append(purchase_data.loc[purchase_data["Item Name"]==mostProfitableList[0]].iloc[0,6])
itemPrice.append(purchase_data.loc[purchase_data["Item Name"]==mostProfitableList[1]].iloc[0,6])
itemPrice.append(purchase_data.loc[purchase_data["Item Name"]==mostProfitableList[2]].iloc[0,6])
itemPrice.append(purchase_data.loc[purchase_data["Item Name"]==mostProfitableList[3]].iloc[0,6])
itemPrice.append(purchase_data.loc[purchase_data["Item Name"]==mostProfitableList[4]].iloc[0,6])
itemPrice

#get ids
itemIds=[]
itemIds.append(purchase_data.loc[purchase_data["Item Name"]==mostProfitableList[0]].iloc[0,4])
itemIds.append(purchase_data.loc[purchase_data["Item Name"]==mostProfitableList[1]].iloc[0,4])
itemIds.append(purchase_data.loc[purchase_data["Item Name"]==mostProfitableList[2]].iloc[0,4])
itemIds.append(purchase_data.loc[purchase_data["Item Name"]==mostProfitableList[3]].iloc[0,4])
itemIds.append(purchase_data.loc[purchase_data["Item Name"]==mostProfitableList[4]].iloc[0,4])
itemIds


sortedByPriceCount_df = purchase_data.groupby(["Item Name"]).count().sort_values("Price",ascending=False)
sortedByPriceCount_df.rename(columns={"Price":"Total Purchase Value"})
# sortedByPriceCount_df.index[0]



#list of purchase counts
purchaseCounts = []
purchaseCounts.append(sortedByPriceCount_df.loc[sortedByPriceCount_df.index==mostProfitableList[0]].iloc[0,0])
purchaseCounts.append(sortedByPriceCount_df.loc[sortedByPriceCount_df.index==mostProfitableList[1]].iloc[0,0])
purchaseCounts.append(sortedByPriceCount_df.loc[sortedByPriceCount_df.index==mostProfitableList[2]].iloc[0,0])
purchaseCounts.append(sortedByPriceCount_df.loc[sortedByPriceCount_df.index==mostProfitableList[3]].iloc[0,0])
purchaseCounts.append(sortedByPriceCount_df.loc[sortedByPriceCount_df.index==mostProfitableList[4]].iloc[0,0])
purchaseCounts

dict = {"Item ID":itemIds,"Item Name":mostProfitableList,"Purchase Count":purchaseCounts,"Item Price":itemPrice,}
mostProfitableItems_df = pd.DataFrame(data=dict)


totalRevenue = mostProfitableItems_df["Item Price"]*mostProfitableItems_df["Purchase Count"]
mostProfitableItems_df["Total Purchase Value"] = totalRevenue
mostProfitableItems_df

,Item ID,Item Name,Purchase Count,Item Price,Total Purchase Value
0,92,Final Critic,13,4.88,63.44
1,178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
2,82,Nirvana,9,4.90,44.10
3,145,Fiery Glass Crusader,9,4.58,41.22
4,103,Singed Scalpel,8,4.35,34.80